.button {
  margin-left: 40%;
  margin-top: 10px;
  background: linear-gradient(180deg, #5d67ed 0%, #060ff9 100%);
  color: white;
  font-weight: 400;
  height: 35px;
  width: 100px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.upload-btn {
  margin-left: 2%;
  margin-top: 10px;
  background: linear-gradient(180deg, #727aed 0%, #0a11e3 100%);
  color: white;
  font-weight: 400;
  height: 35px;
  width: 100px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.update-btn {
  background: linear-gradient(180deg, #727aed 0%, #0a11e3 100%);
  color: white;
  font-weight: 400;
  height: 35px;
  width: 100px;
  border-radius: 6px;
}
.delete-btn {
  background: linear-gradient(180deg, #f9555f 0%, #e30a0d 100%);
  color: white;
  font-weight: 400;
  height: 35px;
  width: 100px;
  border-radius: 6px;
  margin-left: 10px;
}

.chuyen-muc {
  margin-top: -70px;
  margin-left: 50%;
  color: black;
}
.gia-thue {
  margin-top: -73px;
  margin-left: 50%;
  color: black;
}
.sdt {
  margin-top: -70px;
  margin-left: 50%;
  color: black;
}
textarea {
  width: 75%;
  border-color: #f1f1f1;
  background-color: #f1f1f1;
  height: 50px;
}
.district {
  margin-top: -64px;
  margin-left: 50%;
  color: black;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.input-form {
  border: 0;
  background-color: #f1f1f1;
  border-radius: 4px;
  height: 30px;
  width: 35%;
}

.input-form-right {
  border: 0;
  background-color: #f1f1f1;
  border-radius: 4px;
  height: 30px;
  width: 90%;
}

.background-form-select {
  background-color: #f1f1f1;
}

.upload-img-in-find-roomate {
  margin-top: 10px;
  margin-left: 80%;
}

.find-roommate-infor {
  margin-top: -150px;
}

.alert {
  margin-left: 80px;
  margin-top: 20px;
  transform: rotate(10deg) 0.1s, rotate(0) 0.1s;
  width: 20%;
  position: relative;
  background-color: rgba(245, 5, 5, 0.9);
}
.require {
  font-size: 10px;
  color: #e30a0d;
  margin-left: 130px;
  margin-top: -20px;
  
}

.requireFinal {
  font-size: 10px;
  color: #e30a0d;
  margin-top: -20px;
  margin-left: 150px;
  margin-bottom: 5px;
}
